
*.dll
bin/Debug/net6.0/example.runtimeconfig.json
bin/Debug/net6.0/example.pdb
bin/Debug/net6.0/example.deps.json
bin/Debug/net6.0/example
obj/Debug/net6.0/example.csproj.AssemblyReference.cache
obj/Debug/net6.0/example.assets.cache
obj/Debug/net6.0/example.AssemblyInfoInputs.cache
obj/Debug/net6.0/example.AssemblyInfo.cs
obj/Debug/net6.0/apphost
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/staticwebassets.pack.sentinel
obj/project.nuget.cache
obj/project.assets.json
obj/example.csproj.nuget.g.targets
obj/example.csproj.nuget.g.props
obj/example.csproj.nuget.dgspec.json
obj/Debug/net6.0/staticwebassets.build.json
obj/Debug/net6.0/project.razor.json
obj/Debug/net6.0/example.pdb
obj/Debug/net6.0/example.MvcApplicationPartsAssemblyInfo.cs
obj/Debug/net6.0/example.MvcApplicationPartsAssemblyInfo.cache
obj/Debug/net6.0/example.GlobalUsings.g.cs
obj/Debug/net6.0/example.genruntimeconfig.cache
obj/Debug/net6.0/example.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/example.csproj.FileListAbsolute.txt
obj/Debug/net6.0/example.csproj.CoreCompileInputs.cache
